extends i

block customCSS
    link(href='/css/fridgeButton.css' rel='stylesheet')
    link(href='/css/grayscale.min.myfridge.css' rel='stylesheet')

block customJS
    script(src='/js/fridgeButton.js')

block content
    // Ingredients Section
    section#functional(class="content-section text-center")
        div(class="container")
            div(class="col-lg-10 mx-auto")
                h2 My Fridge
                h3 DB-Connection: #{data} OR #{error}
                div#myDIV(class="input-group input-group-lg header")
                    input#myInput(type="text" name="add" class="form-control" placeholder="Search")
                    button#btnadd(type="submit" name="add-to-list" onclick="newElement()" class="btn btn-large btn-primary") &#10010;
                br
                div#flip1(class="trigger") Protein
                div#panel1(class="toggle")
                    div(class="row")
                        each caption, imglink in {"\\img\\icons\\beef.png": "Beef", "\\img\\icons\\whole-chicken.png": "Whole Chicken", "\\img\\icons\\pork.png": "Pork", "\\img\\icons\\salmon.png": "Salmon", "\\img\\icons\\tuna.png": "Tuna", "\\img\\icons\\chicken-leg.png": "Chicken Leg", "\\img\\icons\\turkey.png": "Turkey", "\\img\\icons\\ham.png": "Ham", "\\img\\icons\\sausage.png": "Sausage", "\\img\\icons\\shrimp.png": "shrimp", "\\img\\icons\\crab.png": "Crab", "\\img\\icons\\salami.png": "Salami", "\\img\\icons\\oyster.png": "Oyster", "\\img\\icons\\lobster.png": "Lobster", "\\img\\icons\\squid.png": "Squid", "\\img\\icons\\sardine.png": "Sardine", "\\img\\icons\\anchovy.png": "Anchovy", "\\img\\icons\\halibut.png": "Halibut"}
                            div(class = "column")
                                figure(class="itemSelector faded")
                                    button(class="itemButton")
                                        img(src= imglink)
                                    figcaption= caption
                br
                div#flip2(class="trigger") Dairy
                div#panel2(class="toggle")
                    div(class="row")
                        each caption, imglink in {"\\img\\icons\\milk.png": "Milk", "\\img\\icons\\yogurt.png": "Yogurt", "\\img\\icons\\egg.png": "Egg", "\\img\\icons\\ice-cream.png": "Ice Cream", "\\img\\icons\\butter.png": "Butter", "\\img\\icons\\cheese.png": "Cheese"}
                            div(class = "column")
                                figure(class="itemSelector faded")
                                    button(class="itemButton")
                                        img(src= imglink)
                                    figcaption= caption
                br
                div#flip3(class="trigger") Fruits
                div#panel3(class="toggle")
                    div(class="row")
                        each caption, imglink in {"\\img\\icons\\apple.png": "Apple", "\\img\\icons\\bananas.png": "Banana", "\\img\\icons\\orange.png": "Orange", "\\img\\icons\\strawberry.png": "Strawberry", "\\img\\icons\\blueberries.png": "Blueberry", "\\img\\icons\\cherries.png": "Cherry", "\\img\\icons\\kiwi.png": "Kiwi", "\\img\\icons\\grapes.png": "Grape", "\\img\\icons\\watermelon.png": "Watermelon", "\\img\\icons\\pineapple.png": "Pineapple", "\\img\\icons\\coconut.png": "Coconut", "\\img\\icons\\peach.png": "Peach", "\\img\\icons\\raspberry.png": "Raspberry", "\\img\\icons\\mango.png": "Mango", "\\img\\icons\\papaya.png": "Papaya", "\\img\\icons\\pomegranate.png": "Pomegranate", "\\img\\icons\\plum.png": "Plum", "\\img\\icons\\lemon.png": "Lemon"}
                            div(class = "column")
                                figure(class="itemSelector faded")
                                    button(class="itemButton")
                                        img(src= imglink)
                                    figcaption= caption
                br
                div#flip4(class="trigger") Vegetables
                div#panel4(class="toggle")
                    div(class="row")
                        each caption, imglink in {"\\img\\icons\\carrot.png": "Carrot", "\\img\\icons\\lettuce.png": "Lettuce", "\\img\\icons\\spinach.png": "Spinach", "\\img\\icons\\tomato.png": "Tomato", "\\img\\icons\\broccoli.png": "Broccoli", "\\img\\icons\\onion.png": "Onion", "\\img\\icons\\garlic.png": "Garlic", "\\img\\icons\\potato.png": "Potato", "\\img\\icons\\pepper.png": "Pepper", "\\img\\icons\\corn.png": "Corn", "\\img\\icons\\mushroom.png": "Mushroom", "\\img\\icons\\ginger.png": "Ginger", "\\img\\icons\\celery.png": "Celery", "\\img\\icons\\cucumber.png": "Cucumber", "\\img\\icons\\eggplant.png": "Eggplant", "\\img\\icons\\sweet-potato.png": "Sweet Potato", "\\img\\icons\\radish.png": "Radish", "\\img\\icons\\asparagus.png": "Asparagus"}
                            div(class = "column")
                                figure(class="itemSelector faded")
                                    button(class="itemButton")
                                        img(src= imglink)
                                    figcaption= caption
                br
                div#flip5(class="trigger") Grains
                div#panel5(class="toggle")
                    div(class="row")
                        each caption, imglink in {"\\img\\icons\\rice.png": "Rice", "\\img\\icons\\spaguetti.png": "Spaguetti", "\\img\\icons\\noodles.png": "Noodles", "\\img\\icons\\cracker.png": "Cracker", "\\img\\icons\\quinoa.png": "Quinoa", "\\img\\icons\\croissant.png": "Croissant", "\\img\\icons\\cereals.png": "Cereals", "\\img\\icons\\oat.png": "Oat", "\\img\\icons\\bread.png": "Bread", "\\img\\icons\\hebrew.png": "Hebrew", "\\img\\icons\\flour.png": "Flour", "\\img\\icons\\tortillas.png": "Tortillas"}
                            div(class = "column")
                                figure(class="itemSelector faded")
                                    button(class="itemButton")
                                        img(src= imglink)
                                    figcaption= caption
                br
                div(class="col-lg-10 mx-auto")
                    h3(class="fridgeList") Current Items:
                    ul#ingredientsUL
